<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card *ngFor="let m of myMovies">
      <img alt="Movie Poster" src={{m.Poster}} />
      <ion-card-header>
        <ion-card-title>{{m.Title}}</ion-card-title>
        <ion-card-subtitle>{{m.Year}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
